ion-header{
  img {
  width: 50px;
  height: auto;
}
}
ion-card-header{
  img{
    width: 200px;
    height: 220px;
    object-fit: cover;
  }
}
ion-card{
  padding:0;
  margin: 0;
}
ion-card-subtitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
