<ion-header>
  <ion-toolbar>
    <ion-title>Votre panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="res">
  <ion-card>
    <ion-item *ngFor="let item of res; let i=index">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-text color="dark">
                {{item.titre}}
            </ion-text>
          </ion-col>

          <ion-col>
            <ion-text color="dark">
              {{item.years}}
            </ion-text>
          </ion-col>
         
          <ion-col size="5" style="display: flex; align-items: center; justify-content: space-between;">
            <ion-icon name="remove-circle"></ion-icon>
            {{i+1}}
            <ion-button fill="clear" >
             <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <div style="display:flex; flex-direction: row-reverse;">
    <ion-button color="success">
      Tout télécharger
    </ion-button>
  </div>
</ion-content>
